.section {
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.section p {
  line-height: 1.3em;
}

.section h1 {
  font-family: orbitron, sans-serif;
  text-align: center;
  font-size: 2em;
  text-shadow: rgba(191, 0, 255, 0.61) 0px 0px 22px;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section li {
  margin: auto;
  margin-bottom: 3em;
  width: 330px;
  height: 330px;
  border-radius: 10px;
  position: relative;
  font-family: 'Nanum Gothic Coding', monospace !important;
}

.projectContainer {
  background: #c33764;
  background: -webkit-linear-gradient(to right, #1d2671, #c33764);
  background: linear-gradient(to right, #1d2671, #c33764);

  cursor: pointer;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectContainer img {
  height: 80%;
  width: 80%;
}

.staffonlyImage {
  width: 400px !important;
  height: 60%;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 330px;
  height: 330px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.closeIcon {
  position: absolute;
  right: 10px;
  font-size: 2em;
  top: 10px;
}

.desBox {
  padding: 0em 0.5em 0em 0.5em;
  text-align: center;

}

.desBox h3 {
  font-size: 1.5em;
  line-height: 2em;
}

.stackBox {
  display: flex;
  justify-content: center;
}

.stack {
  color: rgb(96, 96, 96);
  background-color: #fefefe;
  border-radius: 30px;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0em 0.3em 0em 0.3em;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

.button {
  background-color: #ab8dba;
  text-transform: uppercase;
  margin: 2em 0.5em 0em 0.5em;
  outline: none;
  border-radius: 5px;
  font-size: 0.9em;
  border: none;
  padding: 0.5em 1em 0.5em 1em;
}

.button a {
  color: white;
}

.button:hover {
  opacity: 70%;
}

@media screen and (min-width: 500px) {
  .section h1 {
    font-size: 3em;
    margin-bottom: 3em;
  }
  .closeIcon {
    display: none;
  }

  .section ul {
    display: flex;
    flex-wrap: wrap;
  }

  .section li {
    width: 70%;
    height: 70%;
    max-width: 700px;
    max-height: 700px;
  }

  .modal {
    width: 100%;
    height: 100%;
  }

  .desBox {
    height: 80%;
    padding: 1em 4em 1em 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .button {
    font-size: 1em;
  }
}
