.section {
  font-size: 1.5em;
  color: #fefefe;
  position: relative;
}

.title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
}

.name {
  font-size: 2em;
}

.nameBox {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (min-width: 500px) {
  .nameBox {
    width: 100%;
  }

  .title {
    font-size: 2em;
  }

  .name {
    font-size: 2.5em;
  }
}
