.section {
  font-size: 1.5em;
  color: #fefefe;
  position: relative;
  text-shadow: rgba(191, 0, 255, 0.61) 0px 0px 22px;
}

.title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
}

.name {
  font-size: 2.5em;
  margin-top: 0.5em;
}

.nameBox {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 93vw;
}

.svgBox {
  position: relative;
}

.myTreasureSvg {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 50vh;
  transform: rotate(3deg);
}

.gameSvg {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 30vh;
  right: 3%;
}

.ofcourseSvg {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 50vh;
  right: 40px;
  transform: rotate(-10deg);
}

@media screen and (min-width: 500px) {
  .nameBox {
    width: 100%;
  }

  .title {
    font-size: 3em;
  }

  .name {
    font-size: 3.5em;
  }

  .myTreasureSvg {
    width: 270px;
    height: 270px;
    bottom: 40vh;
    left: 25%;
  }

  .gameSvg {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 35vh;
    right: 27%;
  }

  .ofcourseSvg {
    width: 150px;
    height: 150px;
    bottom: 47vh;
    right: 33%;
  }
}
