.section {
  font-size: 1.5em;
  color: #fefefe;
  position: relative;
  text-shadow: rgba(191, 0, 255, 0.61) 0px 0px 22px;
}

.title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
}

.name {
  font-size: 2.5em;
  margin-top: 0.5em;
}

.nameBox {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 93vw;
}

.svgBox {
  position: relative;
}

.frameSvg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: -15px;
}

@media screen and (min-width: 500px) {
  .nameBox {
    width: 100%;
  }

  .title {
    font-size: 3em;
  }

  .name {
    font-size: 3.5em;
  }

  .frameSvg {
    width: 55vw;
    height: 55vh;
    bottom: 18vh;
    left: 22%;
  }
}
