.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.section h1 {
  text-transform: uppercase;
  text-shadow: rgba(191, 0, 255, 0.61) 0px 0px 22px;
}

.mainContainer {
  width: 100vw;
}

.section span {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}

.section input {
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 2em;
  width: 90%;
  font-size: 1em;
  background-color: rgb(234, 215, 250);
}

.formContainer {
  width: 90%;
}

.section textarea {
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 1em;
  width: 90%;
  height: 10em;
  background-color: rgb(234, 215, 250);
}

.section textarea:focus,
input:focus {
  outline: 2px solid rgba(191, 0, 255, 0.61);
}

.button {
  background-color: rgb(108, 5, 205);
  outline: none;
  border: 0;
  font-size: 1.2em;
  border-radius: 5px;
  width: 95%;
  height: 2.2em;
  text-transform: uppercase;
  font-family: orbitron, sans-serif;
  color: white;
  margin-top: 2em;
}

.button:hover {
  opacity: 70%;
}

.phone {
  max-width: 95vw;
}

.section label {
  width: 90%;
}

@media screen and (min-width: 500px) {
  .section {
    height: 100vh;
  }
  .section span {
    justify-content: center;
  }

  .section label {
    margin-right: 1em;
  }
  .section h1 {
    font-size: 3em;
  }

  .section input {
    width: 100%;
    max-width: 800px;
  }

  .section textarea,
  .button {
    width: 100%;
    max-width: 850px;
  }

  .mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .formContainer {
    width: 80%;
  }

  .phone {
    width: 50%;
  }
}
