.nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 50px;
}

.menu {
  animation: shake 2s;
  animation-iteration-count: infinite;
}

.menu:hover {
  opacity: 50%;
  cursor: pointer;
}

.click {
  position: absolute;
  right: 90px;
  transform: rotate(-30deg);
}

@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}
