.nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  animation: shake 2s;
  animation-iteration-count: infinite;
}

.menu:hover {
  opacity: 50%;
  cursor: pointer;
}

.click {
  position: absolute;
  right: 100px;
  top: 10px;
  transform: rotate(-30deg);
}

.slideinDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0vh;
  z-index: 4;
}

.slideoutDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: -100vw;
  height: 0vh;
  z-index: 4;
}

.logo {
  width: 130px;
  height: 130px;
}

@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}
