.avatarContainer {
  position: relative;
}

.loadingDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #272351;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
  height: 200px;
  animation-name: shaking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes shaking {
  0% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-5deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}
