body {
  margin: 0;
  padding: 0em 1em 1em 1em;
  background: linear-gradient(
    to bottom,
    #0a1627,
    #0d1a32,
    #131e3d,
    #1c2147,
    #272351
  );
  background-size: cover;
  box-sizing: border-box;
  font-family: orbitron, sans-serif,  'Nanum Gothic Coding', monospace;
  font-style: normal;
  font-weight: 300;
  height: 100%;
  color: #fefefe;
}

section {
  background: transparent;
}

section p {
  font-family: 'Nanum Gothic Coding', monospace !important;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  body {
    padding: 0em 2em 2em 2em;
  }
}
