body {
  margin: 0;
  padding: 0em 1em 1em 1em;
  background-image: linear-gradient(
    to bottom,
    #0a1627,
    #0d1a32,
    #131e3d,
    #1c2147,
    #272351
  );

  box-sizing: border-box;
  font-family: orbitron, sans-serif;
  font-style: normal;
  font-weight: 300;
}

section {
  background: transparent;
}
